* {
  box-sizing: border-box;
}

img{
  height: 100px;
  width: 100px;
}

.espaco-cartas{
  display: flex;
  flex-wrap: wrap;
  width: 1210px;
  align-items: flex-start;
  justify-content: center;
}


.fundo {
  display: flex;
  height: 960px;
  width: 100%;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: center;

}

h1 {
  font-family: Roboto;
  font-size: 56px;
  position: absolute;
  top: 40px;
  left: 320px;
  color: #75B79E;
}

.caixa-principal {
  display: flex;
  justify-content: space-around;
  width: 1210px;
  height: 800px;
  background-color: #eef9bf;
  position: relative;
  flex-wrap: wrap;
  padding-left: 122px;
  padding-right: 122px;
  align-items: flex-start;
}


.front-face img {
  margin-top: 24px;
  margin-left: 10px;
}

.card {
  margin-top: 150px;
  width: 160px;
  position: relative;
  margin-bottom: 56px;
}

.face {
  height: 146px;
  width: 117px;
  border-radius: 5px;
  background-color: #A7E9AF;
  border: 1px solid #99CEA8;
  position: absolute;
  top: 0px;
  left: 0px;
  backface-visibility: hidden;
  transition: all .5s;
  transform-style: preserve-3d;

}

.back-face {
  display: flex;
  transform: rotateY(180deg);
  align-items: center;
  justify-content: center;

}

.virar1 {
  transform: rotateY(-180deg);
}

.virar2 {
  transform: rotateY(0deg);
}